.header {
  margin: 0 auto;
  max-width: 1180px;
  background-color: rgba(128, 128, 128, .4);
}

.header_wrap {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: auto;
}

.header_nav {
  margin-right: 49px;
}
