.promo {
  padding-top: 551px;
  padding-bottom: 82px;
  background-image: url("../images/background-promo.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.promo-inner {
  @include inner;
}

.promo_title {
  font-weight: 700;
  font-size: 66px;
  color: $color-light;
}

.promo_form {
  max-width: 1180px;
  margin: 45px auto 0;
}

